body  {
	font-size : 10px;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #666666;
        background-color:#EBFFDF; 
}
.logowanie {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; font-size : 12px; line-height : 13px; color: #003366;
	text-decoration: none; background-color: #ECECEC; border: #B8B8B8; border-width: 2px 2px 2px 1px; font-weight: bold;
}
.inputfr {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #686868; text-decoration: none;
	background-color: #D6D9FE; border: 1px #0066CC outset; margin-top: 0px; margin-right: 0px; margin-bottom: 0px;
	margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;
}
.inputf {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; text-decoration: none;
	background-color: #FFFFDB; border: 1px #5E788A outset; 
}
.form {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px; color: #000000; text-decoration: none;
	background-color: #F2F4FF; border: 0px #5E788A outset; margin-top: 50px; margin-right: 0px; margin-bottom: 0px;
	margin-left: 100px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; clip:
	rect(19px 9px 9px 9px)
}
